* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    background-color: #eee;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    color: #222;
  }
  
  #form {
    max-width: 100vp;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .form-field {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
  }
  label, input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: center;
    font-size: 1.1rem;
  }
  label {
    text-align: center;
    color: rgb(0, 0, 0);
    width: 20%;
  }
  input {
    border: 2px solid #aaa;
    border-radius: 2px;
  }
  
  .validate{
    position: relative;
    margin: 45px auto;
    width: 600px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
    background-color: white;
    

  }